/* Command objects */

/* Notification Commands
 *
 * Please check the documentation for all required and
 * optional parameters.
 */

object NotificationCommand "mail-host-notification" {
  command = [ ConfigDir + "/icinga2/scripts/mail-host-notification.sh" ]

  arguments += {
    "-4" = "$notification_address$"
    "-6" = "$notification_address6$"
    "-b" = "$notification_author$"
    "-c" = "$notification_comment$"
    "-d" = {
      required = true
      value = "$notification_date$"
    }
    "-f" = {
      value = "$notification_from$"
      description = "Set from address. Requires GNU mailutils (Debian/Ubuntu) or mailx (RHEL/SUSE)"
    }
    "-i" = "$notification_icingaweb2url$"
    "-l" = {
      required = true
      value = "$notification_hostname$"
    }
    "-n" = {
      required = true
      value = "$notification_hostdisplayname$"
    }
    "-o" = {
      required = true
      value = "$notification_hostoutput$"
    }
    "-r" = {
      required = true
      value = "$notification_useremail$"
    }
    "-s" = {
      required = true
      value = "$notification_hoststate$"
    }
    "-t" = {
      required = true
      value = "$notification_type$"
    }
    "-v" = "$notification_logtosyslog$"
  }

  vars += {
    notification_address = "$address$"
    notification_address6 = "$address6$"
    notification_author = "$notification.author$"
    notification_comment = "$notification.comment$"
    notification_type = "$notification.type$"
    notification_date = "$icinga.long_date_time$"
    notification_hostname = "$host.name$"
    notification_hostdisplayname = "$host.display_name$"
    notification_hostoutput = "$host.output$"
    notification_hoststate = "$host.state$"
    notification_useremail = "$user.email$"
  }
}

object NotificationCommand "mail-service-notification" {
  command = [ ConfigDir + "/icinga2/scripts/mail-service-notification.sh" ]

  arguments += {
    "-4" = "$notification_address$"
    "-6" = "$notification_address6$"
    "-b" = "$notification_author$"
    "-c" = "$notification_comment$"
    "-d" = {
      required = true
      value = "$notification_date$"
    }
    "-e" = {
      required = true
      value = "$notification_servicename$"
    }
    "-f" = {
      value = "$notification_from$"
      description = "Set from address. Requires GNU mailutils (Debian/Ubuntu) or mailx (RHEL/SUSE)"
    }
    "-i" = "$notification_icingaweb2url$"
    "-l" = {
      required = true
      value = "$notification_hostname$"
    }
    "-n" = {
      required = true
      value = "$notification_hostdisplayname$"
    }
    "-o" = {
      required = true
      value = "$notification_serviceoutput$"
    }
    "-r" = {
      required = true
      value = "$notification_useremail$"
    }
    "-s" = {
      required = true
      value = "$notification_servicestate$"
    }
    "-t" = {
      required = true
      value = "$notification_type$"
    }
    "-u" = {
      required = true
      value = "$notification_servicedisplayname$"
    }
    "-v" = "$notification_logtosyslog$"
  }

  vars += {
    notification_address = "$address$"
    notification_address6 = "$address6$"
    notification_author = "$notification.author$"
    notification_comment = "$notification.comment$"
    notification_type = "$notification.type$"
    notification_date = "$icinga.long_date_time$"
    notification_hostname = "$host.name$"
    notification_hostdisplayname = "$host.display_name$"
    notification_servicename = "$service.name$"
    notification_serviceoutput = "$service.output$"
    notification_servicestate = "$service.state$"
    notification_useremail = "$user.email$"
    notification_servicedisplayname = "$service.display_name$"
  }
}

/*
 * If you prefer to use the notification scripts with environment
 * variables instead of command line parameters, you can use
 * the following commands. They have been updated from < 2.7
 * to support the new notification scripts and should help
 * with an upgrade.
 * Remove the comment blocks and comment the notification commands above.
 */

/*

object NotificationCommand "mail-host-notification" {
  command = [ ConfigDir + "/icinga2/scripts/mail-host-notification.sh" ]

  env = {
    NOTIFICATIONTYPE = "$notification.type$"
    HOSTDISPLAYNAME = "$host.display_name$"
    HOSTNAME = "$host.name$"
    HOSTADDRESS = "$address$"
    HOSTSTATE = "$host.state$"
    LONGDATETIME = "$icinga.long_date_time$"
    HOSTOUTPUT = "$host.output$"
    NOTIFICATIONAUTHORNAME = "$notification.author$"
    NOTIFICATIONCOMMENT = "$notification.comment$"
    HOSTDISPLAYNAME = "$host.display_name$"
    USEREMAIL = "$user.email$"
  }
}

object NotificationCommand "mail-service-notification" {
  command = [ ConfigDir + "/icinga2/scripts/mail-service-notification.sh" ]

  env = {
    NOTIFICATIONTYPE = "$notification.type$"
    SERVICENAME = "$service.name$"
    HOSTNAME = "$host.name$"
    HOSTDISPLAYNAME = "$host.display_name$"
    HOSTADDRESS = "$address$"
    SERVICESTATE = "$service.state$"
    LONGDATETIME = "$icinga.long_date_time$"
    SERVICEOUTPUT = "$service.output$"
    NOTIFICATIONAUTHORNAME = "$notification.author$"
    NOTIFICATIONCOMMENT = "$notification.comment$"
    HOSTDISPLAYNAME = "$host.display_name$"
    SERVICEDISPLAYNAME = "$service.display_name$"
    USEREMAIL = "$user.email$"
  }
}

*/


object CheckCommand "raid" {
  import "plugin-check-command"
  command = [PluginDir + "/check_raid.pl" ]
}

object CheckCommand "ceph-new" {
  import "plugin-check-command"
  command = [PluginDir + "/check_ceph" ]
}

object CheckCommand "ipmi" {
  import "plugin-check-command"
  command = [PluginDir + "/check_ipmi_sensor" ]

  arguments = {
    "-H" = {
      value = "$my_ipmi_ip$"
      description = "IP of the IPMI to check"
      required = true
    }
    "-f" = {
      value = "$cfg_file$"
      description = "Path to freeipmi config file"
    }
  }

  vars.cfg_file = "/etc/icinga2/freeipmi.conf"
  vars.my_ipmi_ip = "$ipmi_ip$"
}

object CheckCommand "smartSOS" {
  import "plugin-check-command"
  command = [PluginDir + "/check_smartvalues" ]

  arguments = {
    "-d" = {
      value = "$my_device$"
      description = "Device to check"
      required = true
    }
    "-db" = {
      value = "$db_file$"
      description = "Path to smart database file"
    }
    "-c" = {
      value = "$cfg_file$"
      description = "Path to smart config file"
    }
    "-pd" = {
      value = "-pd"
      skip_key = true
    }
    "-s" = {
      value = "-s"
      skip_key = true
    }
  }

  vars.cfg_file = "/etc/icinga2/check_smartvalues.cfg.json"
  vars.db_file = "/etc/icinga2/check_smartvalues.db.json"
  vars.my_device = "$device$"
}

object CheckCommand "sasSOS" {
  import "plugin-check-command"
  command = [PluginDir + "/check_sas_smart" ]

  arguments = {
    "-d" = {
      value = "$my_device$"
      description = "Device to check"
      required = true
      skip_key = true
    }
    "-r" = {
      value = "$raid_device$"
      description = "Raid device to check"
      required = false
      skip_key = false
    }
  }

  vars.my_device = "$device$"
}

object CheckCommand "power" {
  import "plugin-check-command"
  command = [PluginDir + "/check_power.py" ]

  arguments = {
    "-h" = {
      value = "$my_ip$"
      description = "Device to check"
      required = true
      skip_key = true
      order = 2
    }
    "-s" = {
      value = "$my_statefile$"
      description = "Path to state file for historical data"
      required = true
      order = 1
    }
    "--debug" = {
      value = "--debug"
      skip_key = true
    }
  }
  vars.my_ip = "$ip$"
  vars.my_statefile = "$statefile$"
}

object CheckCommand "ib-host" {
  import "plugin-check-command"
  command = ["/usr/bin/sudo", PluginDir + "/check_ib" ]

  arguments = {
    "--check-host" = {
      value = "$my_host$"
      description = "Host to check"
      required = true
    }
    "--netfile" = {
      value = "$my_netfile$"
      description = "Path to state file for historical data"
      required = true
    }
    "--clear" = {
      value = "--clear"
      skip_key = true
    }
  }
  vars.my_host = "$host$"
  vars.my_netfile = "$netfile$"
}

object CheckCommand "ib-net" {
  import "plugin-check-command"
  command = [PluginDir + "/check_ib" ]

  arguments = {
    "--netfile" = {
      value = "$my_netfile$"
      description = "Path to state file for historical data"
      required = true
    }
    "--check-net" = {
      value = "--check-net"
      skip_key = true
    }
  }
  vars.my_netfile = "$netfile$"
}

object CheckCommand "sensor" {
  import "plugin-check-command"
  command = [PluginDir + "/check_lm_sensors"]

  arguments = {
    "-h" = {
      value = "$my_sensor$"
      description = "Sensor to check"
      required = true
    }
    "--nodrives" = {
      value = "--nodrives"
      skip_key = true
    }
  }
}

object CheckCommand "apcupsd" {
  import "plugin-check-command"
  command = [PluginDir + "/check_apcupsd.sh"]

  arguments = {
    "-w" = {
      value = "$warning$"
      description = "warning threshold"
      required = true
    }
    "-c" = {
      value = "$crit$"
      description = "critical threshold"
      required = true
    }
    "-what" = {
      value = "$check$"
      skip_key = true
    }
  }
}

object CheckCommand "snmpif" {
  import "plugin-check-command"
  command = [PluginDir + "/check_snmp_int.pl" ]

  arguments = {
    "-H" = {
      value = "$my_ip$"
      description = "IP of the IPMI to check"
      required = true
    }
    "-2" = {
      value = "-2"
      skip_key = true
    }
    "-C" = {
      value = "$community$"
    }
    "-e" = {
      value = "-e"
      skip_key = true
    }
    "-f" = {
      value = "-f"
      skip_key = true
    }
    "-g" = {
      value = "-g"
      skip_key = true
    }
    "-n" = {
      value = "$my_if$"
      description = "Interface(s) to check"
    }
  }

  vars.community = "private"
  vars.my_ip = "$ip$"
  vars.my_if = "$interface$"
}

object CheckCommand "megaraid" {
  import "plugin-check-command"
  command = [PluginDir + "/check_lsi_raid"]
}
