{% if mon_enable_syslog_forwarding %}
frontend rsyslog-front
	bind 127.0.0.1:601
	mode tcp
	default_backend rsyslog-back

backend rsyslog-back
	mode tcp
{% for item in mon_syslog_servers %}
	server remote {{ item }}:6514 ssl crt /etc/haproxy/ls-c-full.pem ca-file /etc/haproxy/ls-ca.crt verify required check
{% endfor %}
{% endif %}
{% if mon_enable_prometheus %}
# Prometheus
frontend pnexp-front
	bind :::9101 v4v6 ssl crt /etc/haproxy/pm-sv-full.pem ca-file /etc/haproxy/pm-ca.crt crl-file /etc/haproxy/pm-crl.pem verify required
	mode tcp
	default_backend pnexp-back

backend pnexp-back
	mode tcp
	server local 127.0.0.1:9100
{% if 'ceph' in mon_prometheus_exporters %}
# CEPH
frontend pnexp-ceph-front
	bind :::9228 v4v6 ssl crt /etc/haproxy/pm-sv-full.pem ca-file /etc/haproxy/pm-ca.crt crl-file /etc/haproxy/pm-crl.pem verify required
	mode http
	default_backend pnexp-ceph-back

backend pnexp-ceph-back
	mode http
	server local 127.0.0.1:9128 check

frontend dash-ceph-front
	bind :::7001 v4v6 ssl crt /etc/haproxy/pm-sv-full.pem ca-file /etc/haproxy/pm-ca.crt crl-file /etc/haproxy/pm-crl.pem verify required
	mode http
	default_backend pnexp-ceph-back

backend dash-ceph-back
	mode http
	server local 127.0.0.1:7000 check
{% else %}
# No CEPH
{% endif %}
{% endif %}
