/*
 * Host definitions with object attributes
 * used for apply rules for Service, Notification,
 * Dependency and ScheduledDowntime objects.
 *
 * Tip: Use `icinga2 object list --type Host` to
 * list all host objects after running
 * configuration validation (`icinga2 daemon -C`).
 */

/*
 * This is an example host based on your
 * local host's FQDN. Specify the NodeName
 * constant in `constants.conf` or use your
 * own description, e.g. "db-host-1".
 */

object Host NodeName {
  /* Import the default host template defined in `templates.conf`. */
  import "generic-host"

  /* Specify the address attributes for checks e.g. `ssh` or `http`. */
  address = "127.0.0.1"
  address6 = "::1"

  /* Set custom attribute `os` for hostgroup assignment in `groups.conf`. */
  vars.os = "Linux"

  /* Define notification mail attributes for notification apply rules in `notifications.conf`. */
  vars.notification["mail"] = {
    /* The UserGroup `icingaadmins` is defined in `users.conf`. */
    groups = [ "icingaadmins" ]
  }
}

{% for item in mon_icinga_checks|matching('ipmi .*')|list %}
{% set item_name=item|regex_replace('^ipmi (.*)$', '\\1') %}
{% if item_name not in icinga_hosts_found|append('', 'icinga_hosts_found'+ansible_fqdn) %}
{% set icinga_hosts_found=icinga_hosts_found|append(item_name, 'icinga_hosts_found'+ansible_fqdn) %}

{% if (item_name in groups['mon-server']) or (item_name in groups['mon-client']) %}
object Host "{{ item_name }}" {
  import "satellite-host"
  check_command = "cluster-zone"

  /* Specify the address attributes for checks e.g. `ssh` or `http`. */
  address = "{{ hostvars[item_name]['ansible_default_ipv4']['address'] }}"
  {% if hostvars[item_name]['ansible_default_ipv6'] %}
  {% if hostvars[item_name]['ansible_default_ipv6']['address'].startswith('2001') %}
  address6 = "{{ hostvars[item_name]['ansible_default_ipv6']['address'] }}"
  {% endif %}
  {% endif %}

  /* Set custom attribute `os` for hostgroup assignment in `groups.conf`. */
  vars.os = "Linux"

  /* Define notification mail attributes for notification apply rules in `notifications.conf`. */
  vars.notification["mail"] = {
    /* The UserGroup `icingaadmins` is defined in `users.conf`. */
    groups = [ "icingaadmins" ]
  }

  {% if 'is_client' in hostvars[item_name] %}
  vars.is_client = true
  {% endif %}
}
{% else %}
// Dummy host for IPMI
object Host "{{ item_name }}" {
  import "generic-host"
  address = "{{ (mon_check_websites|selectattr('name', 'equalto', item_name)|map(attribute='ip')|list)[0] }}"
}
{% endif %}

{% endif %}
{% endfor %}

{% for item in mon_icinga_checks|matching('http .*')|list %}
{% set item_name=item|regex_replace('^http (.*)$', '\\1') %}
{% if item_name not in icinga_hosts_found|append('', 'icinga_hosts_found'+ansible_fqdn) %}
{% set icinga_hosts_found=icinga_hosts_found|append(item_name, 'icinga_hosts_found'+ansible_fqdn) %}

{% if (item_name in groups['mon-server']) or (item_name in groups['mon-client']) %}
object Host "{{ item_name }}" {
  import "satellite-host"
  check_command = "cluster-zone"

  /* Specify the address attributes for checks e.g. `ssh` or `http`. */
  address = "{{ hostvars[item_name]['ansible_default_ipv4']['address'] }}"
  {% if hostvars[item_name]['ansible_default_ipv6'] %}
  {% if hostvars[item_name]['ansible_default_ipv6']['address'].startswith('2001') %}
  address6 = "{{ hostvars[item_name]['ansible_default_ipv6']['address'] }}"
  {% endif %}
  {% endif %}

  /* Set custom attribute `os` for hostgroup assignment in `groups.conf`. */
  vars.os = "Linux"

  /* Define notification mail attributes for notification apply rules in `notifications.conf`. */
  vars.notification["mail"] = {
    /* The UserGroup `icingaadmins` is defined in `users.conf`. */
    groups = [ "icingaadmins" ]
  }

  {% if 'is_client' in hostvars[item_name] %}
  vars.is_client = true
  {% endif %}
}
{% else %}
// Dummy host for website
object Host "{{ item_name }}" {
  import "generic-host"
  address = "{{ (mon_check_websites|selectattr('name', 'equalto', item_name)|map(attribute='addr')|list)[0] }}"
}
{% endif %}

{% endif %}
{% endfor %}

{% for item in mon_icinga_checks|matching('power .*')|list %}
{% set item_name=item|regex_replace('^power (.*)$', '\\1') %}
{% if item_name not in icinga_hosts_found|append('', 'icinga_hosts_found'+ansible_fqdn) %}
{% if icinga_hosts_found.update(icinga_hosts_found|append(item_name, 'icinga_hosts_found'+ansible_fqdn)) %} {% endif %}

{% if (item_name in groups['mon-server']) or (item_name in groups['mon-client']) %}
object Host "{{ hostvars[item_name]['ansible_fqdn'] }}" {
  import "satellite-host"
  check_command = "cluster-zone"

  /* Specify the address attributes for checks e.g. `ssh` or `http`. */
  address = "{{ hostvars[item_name]['ansible_default_ipv4']['address'] }}"
  {% if hostvars[item_name]['ansible_default_ipv6'] %}
  {% if hostvars[item_name]['ansible_default_ipv6']['address'].startswith('2001') %}
  address6 = "{{ hostvars[item_name]['ansible_default_ipv6']['address'] }}"
  {% endif %}
  {% endif %}

  /* Set custom attribute `os` for hostgroup assignment in `groups.conf`. */
  vars.os = "Linux"

  /* Define notification mail attributes for notification apply rules in `notifications.conf`. */
  vars.notification["mail"] = {
    /* The UserGroup `icingaadmins` is defined in `users.conf`. */
    groups = [ "icingaadmins" ]
  }

  {% if 'is_client' in hostvars[item_name] %}
  vars.is_client = true
  {% endif %}
}
{% else %}
// Dummy host for powerstrip
object Host "{{ item_name }}" {
  import "generic-host"
  address = "{{ (mon_check_power_strips|selectattr('name', 'equalto', item_name)|map(attribute='ip')|list)[0] }}"
}
{% endif %}

{% endif %}
{% endfor %}
