ARGS="--collector.diskstats.ignored-devices=^(ram|loop|fd)\d+$ \
      --collector.filesystem.ignored-mount-points=^/(sys|proc|dev|run)($|/) \
      --collector.textfile.directory=/var/lib/prometheus/node-exporter \
      --web.listen-address=127.0.0.1:9100 \
      --no-collector.systemd"
