# Setup disk assisted queues
$WorkDirectory /var/spool/rsyslog
$ActionQueueFileName fwdRule1
$ActionQueueMaxDiskSpace 64m

# Send messages to Loggly over TCP using the template.
*.*   @@127.0.0.1:601
