/*
 * Service apply rules.
 *
 * The CheckCommand objects `ping4`, `ping6`, etc
 * are provided by the plugin check command templates.
 * Check the documentation for details.
 *
 * Tip: Use `icinga2 object list --type Service` to
 * list all service objects after running
 * configuration validation (`icinga2 daemon -C`).
 */

/*
 * This is an example host based on your
 * local host's FQDN. Specify the NodeName
 * constant in `constants.conf` or use your
 * own description, e.g. "db-host-1".
 */
{% for item in icinga_checks|matching('disk .*') %}
apply Service "{{ item }}" {
  import "generic-service"

  check_command = "disk"

  vars.disk_partitions = "{{ item | regex_replace('^disk (.*)$', '\\1')}}"

  assign where host.name == NodeName
  vars.notify = true
  vars.datgroup = "disk"
  vars.datitem = "local"
}
{% endfor %}

{% for item in icinga_checks|matching('iostat .*') %}
apply Service "{{ item }}" {
  import "generic-service"

  check_command = "iostat"
  vars.iostat_disk = "{{ item | regex_replace('^iostat (.*)$', '\\1')}}"
  vars.iostat_wtps = {{ icinga_iostat_tpsw }}
  vars.iostat_ctps = {{ icinga_iostat_tpsc }}
  vars.iostat_wread = {{ icinga_iostat_readw }}
  vars.iostat_cread = {{ icinga_iostat_readc }}
  vars.iostat_wwrite = {{ icinga_iostat_writew }}
  vars.iostat_cwrite = {{ icinga_iostat_writec }}

  assign where host.name == NodeName
  vars.notify = true
  vars.datgroup = "iostat"
  vars.datitem = "local"
}
{% endfor %}

{% for item in icinga_checks|matching('smart .*') %}
apply Service "{{ item }}" {
  import "generic-service"

  check_command = "smartSOS"
  vars.device = "{{ item | regex_replace('^smart (.*)$', '\\1')}}"

  assign where host.name == NodeName
  vars.notify = true
  vars.datgroup = "smart"
  vars.datitem = "{{ item | regex_replace('^smart (.*)$', '\\1')}}"
}
{% endfor %}

{% for item in icinga_checks|matching('sensors .*') %}
{% set item_name=item|regex_replace('^sensors (.*)$', '\\1') %}
apply Service "{{ item }}" {
  import "generic-service"

  check_command = "sensor"
  vars.my_sensor = "{{ (sensors|selectattr('name', 'equalto', item_name)|map(attribute='sensor')|list)[0] }}"

  assign where host.name == NodeName
  vars.notify = true
  vars.datgroup = "sensors"
  vars.datitem = "local"
}
{% endfor %}

{% for item in icinga_checks|matching('raid') %}
apply Service "{{ item }}" {
  import "generic-service"

  check_command = "raid"

  assign where host.name == NodeName
  vars.notify = true
  vars.datgroup = "raid"
  vars.datitem = "local"
}
{% endfor %}

{% for item in icinga_checks|matching('ceph') %}
apply Service "{{ item }}" {
  import "generic-service"

  check_command = "ceph"
  check_interval = 30s

  assign where host.name == NodeName
  vars.notify = true
  vars.datgroup = "ceph"
  vars.datitem = "{{ansible_fqdn}}"
}
{% endfor %}

{% for item in icinga_checks|matching('ipmi .*')|list %}
{% set item_name=item|regex_replace('^ipmi (.*)$', '\\1') %}
apply Service "{{ item }}" {
  import "generic-service"

  check_command = "ipmi"

  vars.ipmi_ip = "{{ (ipmi_hosts|selectattr('name', 'equalto', item_name)|map(attribute='ip')|list)[0] }}"
  assign where host.name == "{{ item_name }}"
  vars.notify = true
  vars.datgroup = "ipmi"
  vars.datitem = "{{ansible_fqdn}}"
}
{% endfor %}

{% for item in icinga_checks|matching('https .*')|list %}
{% set item_name=item|regex_replace('^https (.*)$', '\\1') %}
/* The check_http check is from the Nagios era, aka when people didn't yet
 * have nice things. It still carries the spirit of it's time and has the
 * slightly retarded property of swallowing it's performance data when you
 * check the certificate for expiry. Therefore we have to use it twice...
 */
apply Service "https {{ ansible_fqdn }}" {
  import "generic-service"

  check_command = "http"
  check_interval = 1h

  vars.http_pagesize = "{{ (websites|selectattr('name', 'equalto', item_name)|map(attribute='minsize')|list)[0] }}"
  vars.http_vhost = "{{ item_name }}"
  vars.http_extendedperfdata = "true"
  vars.http_onredirect = "follow"
  vars.http_certificate = "{{ (websites|selectattr('name', 'equalto', item_name)|map(attribute='ssldays')|list)[0] }}"
  vars.http_ssl = "true"
  vars.http_sni = "true"
  vars.http_certificate = "10"

  assign where host.name == "{{ item_name }}"
  vars.notify = true
  vars.datgroup = "http"
  vars.datitem = "{{ansible_fqdn}}"
}
{% endfor %}

{% for item in icinga_checks|matching('http .*')|list %}
{% set item_name=item|regex_replace('^http (.*)$', '\\1') %}
apply Service "http {{ ansible_fqdn }}" {
  import "generic-service"

  check_command = "http"
  check_interval = {{ (websites|selectattr('name', 'equalto', item_name)|map(attribute='t')|list)[0] }}

  vars.http_pagesize = "{{ (websites|selectattr('name', 'equalto', item_name)|map(attribute='minsize')|list)[0] }}"
  vars.http_vhost = "{{ item_name }}"
  vars.http_extendedperfdata = "true"
  vars.http_onredirect = "follow"
{% if (websites|selectattr('name', 'equalto', item_name)|map(attribute='ssl')|list)[0] == "true" %}
  vars.http_ssl = "true"
  vars.http_sni = "true"
{% endif %}
{% if (websites|selectattr('name', 'equalto', item_name)|map(attribute='auth')|list)[0] == "true" %}
  vars.http_auth_pair = "{{ (websites|selectattr('name', 'equalto', item_name)|map(attribute='user')|list)[0] }}:{{ (websites|selectattr('name', 'equalto', item_name)|map(attribute='password')|list)[0] }}"
{% endif %}
  assign where host.name == "{{ item_name }}"
  vars.notify = true
  vars.datgroup = "http"
  vars.datitem = "{{ansible_fqdn}}"
}
{% endfor %}

{% for item in icinga_checks|matching('power .*')|list %}
{% set item_name=item|regex_replace('^power (.*)$', '\\1') %}
apply Service "{{ item }}" {
  import "generic-service"

  check_command = "power"

  vars.ip = "{{ (power_strips|selectattr('name', 'equalto', item_name)|map(attribute='ip')|list)[0] }}"
  vars.statefile = "/tmp/pwr_{{ item_name }}"
  assign where host.name == "{{ item_name }}"
  vars.notify = true
  vars.datgroup = "power"
  vars.datitem = "{{ansible_fqdn}}"
}
{% endfor %}

{% for item in icinga_checks|matching('infiniband .*')|list %}
{% set item_name=item|regex_replace('^infiniband (.*)$', '\\1') %}
apply Service "{{ item }}" {
  import "generic-service"

  check_command = "ib-host"
  check_interval = 20s

  vars.host = "{{ (infiniband|selectattr('name', 'equalto', item_name)|map(attribute='name')|list)[0] }}"
  vars.netfile = "/etc/icinga2/ib-netfile.yml"

  assign where host.name == "{{ item_name }}"
  vars.notify = true
  vars.datgroup = "ib-host"
  vars.datitem = "{{ansible_fqdn}}"
}
{% endfor %}

{% for item in icinga_checks|matching('infiniband-net.*')|list %}
apply Service "{{ item }}" {
  import "generic-service"

  check_command = "ib-net"
  vars.netfile = "/etc/icinga2/ib-netfile.yml"

  assign where host.name == NodeName
  vars.notify = true
  vars.datgroup = "ib-net"
  vars.datitem = "{{ansible_fqdn}}"
}
{% endfor %}

apply Service "icinga" {
  import "generic-service"

  check_command = "icinga"

  assign where host.name == NodeName
  vars.notify = true
  vars.datgroup = "icinga"
  vars.datitem = "local"
}

apply Service "procs" {
  import "generic-service"

  check_command = "procs"

  vars.procs_warning = "{{ icinga_procs_warn }}"
  vars.procs_critical = "{{ icinga_procs_crit }}"
  assign where host.name == NodeName
  vars.notify = true
  vars.datgroup = "procs"
  vars.datitem = "local"
}

apply Service "users" {
  import "generic-service"

  check_command = "users"

  assign where host.name == NodeName
  vars.notify = true
  vars.datgroup = "users"
  vars.datitem = "local"
}

apply Service "mem" {
  import "generic-service"

  check_command = "mem"
  vars.mem_used = true
  vars.mem_cache = true
  vars.mem_warning = 80
  vars.mem_critical = 95

  assign where host.name == NodeName
  vars.notify = true
  vars.datgroup = "mem"
  vars.datitem = "local"
}

apply Service "load" {
  import "generic-service"
  check_command = "load"

  /* Used by the ScheduledDowntime apply rule in `downtimes.conf`. */
  /*vars.backup_downtime = "02:00-03:00"*/
  vars.load_wload1 = "{{ icinga_load_wload1 }}"
  vars.load_wload5 = "{{ icinga_load_wload5 }}"
  vars.load_wload15 = "{{ icinga_load_wload15 }}"
  vars.load_cload1 = "{{ icinga_load_cload1 }}"
  vars.load_cload5 = "{{ icinga_load_cload5 }}"
  vars.load_cload15 = "{{ icinga_load_cload15 }}"

  assign where host.name == NodeName
  vars.notify = true
  vars.datgroup = "load"
  vars.datitem = "local"
}

{% for item in icinga_checks|matching('apt') %}
apply Service "{{ item }}" {
  import "generic-service"

  check_command = "apt"

  assign where host.name == NodeName
  {% if apt_enabled %}
    vars.notify = true
  {% else %}
    vars.notify = false
  {% endif %}
  vars.datgroup = "apt"
  vars.datitem = "local"
}
{% endfor %}

{% for item in icinga_checks|matching('swport .*')|list %}
{% set item_name=item|regex_replace('^swport (.*)$', '\\1') %}
apply Service "{{ item|replace("$", "") }}" {
  import "generic-service"

  check_command = "snmpif"

  vars.ip = "{{ (swport|selectattr('if', 'equalto', item_name)|map(attribute='ip')|list)[0] }}"
  vars.interface = "{{ item_name|replace("$", "$$") }}"
  assign where host.name == NodeName
  vars.datgroup = "snmpif"
  vars.datitem = "local"
}
{% endfor %}

{% for item in icinga_checks|matching('ups.*') %}
apply Service "ups status" {
  import "generic-service"

  check_command = "apcupsd"
  vars.warning = "0"
  vars.crit = "1"
  vars.check = "status"
  vars.datgroup = "ups"
  vars.datitem = "local"

  assign where host.name == NodeName
}
apply Service "ups battery" {
  import "generic-service"

  check_command = "apcupsd"
  vars.warning = "80"
  vars.crit = "50"
  vars.check = "bcharge"
  vars.datgroup = "ups"
  vars.datitem = "local"

  assign where host.name == NodeName
}
apply Service "ups temp" {
  import "generic-service"

  check_command = "apcupsd"
  vars.warning = "50"
  vars.crit = "60"
  vars.check = "itemp"
  vars.datgroup = "ups"
  vars.datitem = "local"

  assign where host.name == NodeName
}
apply Service "ups load" {
  import "generic-service"

  check_command = "apcupsd"
  vars.warning = "70"
  vars.crit = "90"
  vars.check = "loadpct"
  vars.datgroup = "ups"
  vars.datitem = "local"

  assign where host.name == NodeName
}
apply Service "ups time" {
  import "generic-service"

  check_command = "apcupsd"
  vars.warning = "10"
  vars.crit = "5"
  vars.check = "timeleft"
  vars.datgroup = "ups"
  vars.datitem = "local"

  assign where host.name == NodeName
}
{% endfor %}
